<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head></head>
    <header th:fragment="header" class="header">
        <nav class="navbar navbar-expand-lg fixed-top navbar-ligth bg-ligth menu-principal" aria-label="Main navigation">
                <div class="container">
                    <a class="navbar-brand" th:href="@{/}">Booking App</a>
                    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link btn-top" th:href="@{/destinos}">Destinos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-top" th:href="@{/reservaciones}">Mis Reservaciones</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link btn-top" href="perfil" id="perfilDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Perfil
                                </a>
                                <div class="dropdown-menu" aria-labelledby="perfilDropdown">
                                    <a class="dropdown-item" href="facturacion">Facturacion</a>
                                    <a class="dropdown-item" href="#">Cerrar sesión</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
        </nav>
    </header>
</html>


