<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Economy Booking</title>

    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>

<body>
    <div class="container-fluid p-0 d-flex align-items-center justify-content-center vh-100">
        <div class="w-50 mx-auto">
            <h1 style="text-align: center;">Inicia sesion con nosotros</h1>
            <br>
            <form method="POST" action="/">
                <div class="mb-3">
                    <input type="text" class="form-control" id="username" placeholder="Nombre de usuario">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="password" placeholder="Contraseña">
                </div>
                <button type="submit" class="btn btn-primary w-100" style="width: 100%; background-color: rgb(224, 124, 30); border-color: rgb(224, 124, 30);">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</body>