<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
        <head th:replace="~{layout/plantilla :: head}"></head>
        <body>

            <header th:replace="~{layout/plantilla :: header}"></header>
            <body>

            </br><h1 style="text-align: center">Editar Reserva</h1></Br>

                <form method="POST" th:action="@{/reservaciones/modifica}" th:object="${reserva}" style="text-align: center">
                    <input type="hidden" th:field="*{idReserva}"/>
                    <label>Cantidad de Adultos:</label>
                    <input type="number" th:field="*{cantidad_adultos}" required/>
                    <br/></br>
                    <label>Cantidad de Niños:</label>
                    <input type="number" th:field="*{cantidad_ninnos}" required/>
                    <br/></Br>
                    <button class="btn btn-primary" type="submit" style="background-color: #e47c1c; border-bottom-color: #e47c1c; border-color: #e47c1c">Guardar Cambios</button></br>
                </form></br>


                <footer th:replace="~{layout/plantilla :: footer}"></footer>
            </body>
    </html>
