<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Reserva</title>
</head>
<body>

<h1>Editar Reserva</h1>

<form method="POST" th:action="@{/reservaciones/editar}" th:object="${reserva}">
    <input type="hidden" th:field="*{idReserva}"/>
    <label>Cantidad de Adultos:</label>
    <input type="number" th:field="*{cantidad_adultos}" required/>
    <br/>
    <label>Cantidad de Niños:</label>
    <input type="number" th:field="*{cantidad_ninnos}" required/>
    <br/>
    <button type="submit">Guardar Cambios</button>
</form>

</body>
</html>
