<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Destinos</title>
    </head>
    <body>

        <!-- se muestra la lista de destinos -->
        <section th:fragment="listadoDestinos" id="destinos" class="seccion-destinos seccion-productos">
            <div class="container">
                <div class="row">
                    <!-- columna izquierda donde esta el card para los filtros-->

                    <div class="col-12">
                        <h1>Descubre nuevos destinos que visitar</h1>
                    </div>

                    <div class="col-12">
                        <form class="was-validated" id="form-buscar-destinos" th:action="@{/destinos/queryLocacion}" method="POST">
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping">
                                    <i class="fa-solid fa-bed"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="¿Adonde quieres ir?" th:value="${locacion}" th:name="locacion" required="true"/>
                                    <button class="btn btn-orange" type="submit">
                                        <i class="fa-solid fa-magnifying-glass"></i> Buscar
                                    </button>
                            </div>
                        </form>
                    </div>

                    <div class="col-3">
                        <div class="card p-3">
                            <h5 class="text-center pt-3">Fechas</h5>
                            <div class="row d-flex justify-content-center">
                                <div class="col text-center">
                                    <label for="startDate">Desde:</label>
                                    <input class="inputDate" type="date" id="startDate" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31">
                                </div>
                                <div class="col text-center">
                                    <label for="endDate">Hasta:</label>
                                    <input class="inputDate" type="date" id="endDate" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31">
                                </div>
                            </div>
                            <hr>
                            <div>
                                <h5 class="text-center pt-3">Personas</h5>
                            </div>
                            <hr>
                                <div class="mb-3">
                                    <div class="container">
                                        <div class="counter">
                                            <div class="counter">
                                                <button id="decrement-btn">-</button>
                                                <input type="number" id="counter-value" value="0">
                                                <button id="increment-btn">+</button>
                                            </div>
                                        </div>
                                        <button id="reset">Reset</button>
                                    </div>
                                </div>
                                <div>
                                    <form method="POST" th:action="@{/destinos/queryPrecio}">
                                        <div class="mb-3">
                                            <h5 class="text-center pt-3">Precio</h5>
                                            <input type="range" class="form-range" min="25" max="500" step="5" id="price_range_slider"/>
                                            <input id="rangeValue" type="number" class="form-control" th:value="${precioSup}" th:name="precioSup" value="0" required="true"/>
                                        </div>
                                        <button class="btn-submit" type="submit" style="align-content: center;">
                                         Aplicar filtros
                                        </button>
                                    </form>
                                </div>
                            <hr>
                                <div>
                                    <h5 class="text-center pt-3">Calificación</h5>
                                </div>
                                </div>

                    </div>



                    <!-- columna derecha --> 
                    <div class="col-md-9 scrollable-column">
                        <div class="scrollable-content" style="overflow-y: auto;">

                            <div class="row m-1 mt-0 mb-3 card-producto" th:each="destino, contador : ${destinos}">
                                <div class="col-3 pt-0 mt-1">
                                    <a th:href="@{/destinos/detallesDestino/}+${destino.idDestino}">
                                        <img th:src="${destino.ruta_imagen}" height="220px" class="card-img-top" alt="...">
                                    </a>
                                </div>
                                <div class="col-5 pt-0 mt-1">
                                    <i class="fa-solid fa-location-dot text-secondary"></i>
                                    <span class="text-secondary" th:text="${destino.localizacion}"></span>
                                    <a th:href="@{/destinos/detallesDestino/}+${destino.idDestino}">
                                        <h5 class="" th:text="${destino.nombre_destino}"></h5>
                                    </a>
                                    <p class="card-text text-muted" th:text="${destino.descripcion_general}"></p>

                                </div>
                                <div class="col-4 pt-0 mt-1 text-center d-flex align-items-end row linea-vertical ps-5">
                                    <div class="">
                                        <p>Precio desde
                                            <br>
                                            <strong>$[[${destino.precio_noche}]]</strong>
                                            <br>
                                            por noche
                                        </p>
                                    </div>
                                    <div class="text-secondary">
                                        <strong>[[${destino.descuento}]]</strong> de descuento
                                    </div>
                                    <div class="">
                                        <a class="nav-link" th:href="@{/destinos/detallesDestino/}+${destino.idDestino}">Ver detalles</a>
                                    </div>
                                </div>
                            </div>

                            <!-- si no hay destinos -->
                            <div class="text-center p-2" th:if="${destinos == null or destinos.empty}">
                                <span>No hay destinos que mostrar</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!-- se muestra los detalles del destino -->
        <section th:fragment="detallesDestino" id="detallesDestinos">
            <div class="container">
                <div class="row">
                    <!-- columna izquierda, muestra detalles del destino --> 
                    <div class="col-md-9 scrollable-column">
                        <h1>[[${destino.nombre_destino}]]</h1>
                        <p class="text-secondary">
                            <i class="fa-solid fa-location-dot text-secondary"></i>
                            [[${destino.localizacion}]]
                        </p>
                        <div class="scrollable-content" style="overflow-y: auto;">
                            <!-- carrousel --> 
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img  class="d-block w-100" th:src="${destino.ruta_imagen}" alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img  class="d-block w-100" th:src="${destino.ruta_imagen}" alt="Second slide">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <br/>
                            <div><article><strong><h3 th:text="${destino.descripcion_general}"></h3></strong></article></div>
                            <div class="row d-flex justify-content-center">
                                <div class="col">
                                    <article>
                                        <p>Huespedes: [[${destino.cantidad_huespedes}]]</p>
                                    </article>
                                </div>
                                <div class="col">
                                    <article>
                                       <p>Habitaciones: [[${destino.habitaciones}]]</p> 
                                    </article>
                                </div>
                                <div class="col">
                                    <article>
                                       <p>Camas: [[${destino.camas}]]</p>
                                    </article>
                                </div>
                                <div class="col">
                                    <article>
                                        <p>Baños: [[${destino.bannos}]]</p>
                                    </article>
                                </div>
                            </div>
                            
                            <article>
                                <h2>Descripción</h2>
                                <p>[[${destino.descripcion_detalles}]]</p>
                            </article>
                            <br/>
                            <article>
                                <h2>Destacado de este destino</h2>
                                <p>[[${destino.destacado}]]</p>
                            </article>
                            <br/>
                            <article>
                                <h2>Incluidos:</h2>
                                <p>[[${destino.inclusion_uno}]]
                                    <br/>[[${destino.inclusion_dos}]]
                                    <br/>[[${destino.inclusion_tres}]]
                                </p>
                            </article>

                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card p-3">
                            
                            <form th:action="@{/reservaciones/guardar}" th:object="${reserva}"
                                  method="POST" class="was-validated" enctype="multipart/form-data">
                                <h4 style="text-align: center;">$[[${destino.precio_noche}]] por noche</h4>
                                <hr>
                                <!--<h5 class="text-center pt-3">Fechas</h5>
                                <div class="row d-flex justify-content-center">
                                    <div class="col text-center">
                                        <label for="startDate">Desde:</label>
                                        <input class="inputDate" type="date" id="startDate" name="fechaInicio">
                                    </div>
                                    <div class="col text-center">
                                        <label for="endDate">Hasta:</label>
                                        <input class="inputDate" type="date" id="endDate" name="fechaFinal">
                                    </div>
                                </div>
                                <hr>-->
                                    <div>
                                        <h5 class="text-center pt-3">Personas</h5>
                                    </div>
                                    <div class="container">
                                        <div>
                                            <p>A modo de prueba guardando la reserva para el usuario con id 1 o 2: 1-Pedro  2-Maria</p>
                                             <!--esto se implementa luego de implementar seguridad para detectar que se guarde la reserva para el usuario que inicio sesion espeficicamente -->
                                            <div class="mb-3">
                                                <select name="usuario.idUsuario" 
                                                        class="form-select" 
                                                        aria-label="Default select example">
                                                    <option>1</option>
                                                    <option>2</option>
                                                </select>
                                            </div>
                                           
                                            <div class="mb-3">
                                                <p>Este destino tiene el id: [[${destino.idDestino}]]</p>
                                                <input type="number" class="form-control"  th:value="${destino.idDestino}" name="destino.idDestino" required="true">
                                            </div>
                                            <!--la cantidad de noches es a modo de prueba, programar logica que en base a las fechas seleccionadas en los datepickers se obtenga cuantas noches equivale -->
                                            <p>A modo de prueba seleccionar la cantidad de noches</p>
                                            <input type="number" class="form-control"  value="0" name="noches" required="true">
                                            <!--precio total manual a modo de prueba, programar javascript que conforme se seleccionen la cantidad de noches vaya aumentado el precio en pantalla y este sera el que se guardara -->
                                            <p>A modo de prueba ingresar manualmente el precio total</p>
                                            <input type="number" class="form-control"  value="0" name="precio_total" required="true">
                                           
                               
                                            <p>Cantidad Maxima de huespedes<p>
                                            <h1 id="max_value" >[[${destino.cantidad_huespedes}]]</h1>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-4">
                                                        Adultos
                                                    </div>
                                                    <div class="col-8">
                                                        <a href="javascript:void(0);" id="decrement-btn-Adulto">-</a>
                                                        <input type="number" id="counter-value-Adulto" value="0" style="width: 64px;" name="cantidad_adultos">
                                                        <a href="javascript:void(0);" id="increment-btn-Adulto">+</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="row">
                                                     <div class="col-4">
                                                        Niños
                                                    </div>
                                                    <div class="col-8">
                                                        <a href="javascript:void(0);" id="decrement-btn-Ninno">-</a>
                                                        <input type="number" id="counter-value-Ninno" value="0" style="width: 64px;" name="cantidad_ninnos">
                                                        <a href="javascript:void(0);" id="increment-btn-Ninno">+</a>
                                                    </div>
                                                    <br/>
                                                    <a href="javascript:void(0);" id="reset">Reset</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="mb-3">
                                        <p>Total Personas</p>
                                        <div>
                                            <input type="number" id="sum_person" value="0" disabled>
                                        </div>
                                    </div>
                                    <button class="btn-submit" type="submit" style="align-content: center;">
                                             Reservar
                                    </button>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        
    </body>
</html>