<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Destinos</title>
    </head>
    <body>
        
        <!-- se muestra la lista de destinos -->
        <section th:fragment="listadoDestinos" id="destinos">
            <div class="container-fluid" style="padding-left: 50px; padding-right: 50px; margin-top: 100px;">
                <div class="row">
                     <!-- columna derecha -->
                  <div class="col-md-3 fixed-column">
                    <div class="card filter-card sticky-top">
                        <div class="card-header" style="background-color: rgb(224, 124, 30);">
                          <h5 class="card-title" style="color: white; text-align: center;">Filtros</h5>
                        </div>
                        <div class="card-body" style="border: 1px solid #ccc;">
                          <form>
                            <div class="mb-3">
                              <label for="date" class="form-label">Por fecha</label>
                              <br>
                              Inicio
                              <input type="date" class="form-control" id="dateInicio">
                              <br>
                              Final
                              <input type="date" class="form-control" id="dateFinal">
                              <br>
                              <label for="customRange3" class="form-label">Precio</label>
                              <input type="range" class="form-range" min="0" max="5" step="0.5" id="precioElegido">
                            </div>
                            <button type="submit" class="btn btn-primary" style="width: 100%; background-color: rgb(224, 124, 30); border-color: rgb(224, 124, 30);">Aplicar filtros</button>
                          </form>
                        </div>
                      </div>
                  </div>
                    <!-- columna izquierda --> 
                    <div class="col-md-9 scrollable-column">
                        <div class="scrollable-content" style="overflow-y: auto;">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Buscar por locación" aria-label="Buscar por locación" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
                            </div>

                            <!-- la tabla que muestra los destinos -->
                            <div th:if="${destinos != null and !destinos.empty}">
                                <table class="table">
                                    <tbody>
                                        <tr th:each="destino, contador : ${destinos}" class="border-box">
                                                <td style="color:white;">[[${contador.count}]]</td>
                                                <td><img th:src="${destino.ruta_imagen}" width="350" height="300"></td>
                                                <td style="border-right: 1px solid #ccc;">
                                                    [[${destino.localizacion}]]<br><br>
                                                    <b>[[${destino.nombre_destino}]]</b><br><br>
                                                    <p style="font-family: 'Roboto', sans-serif; font-size: 13px;">[[${destino.descripcion_general}]]</p><br>
                                                    Descripcion:<br><br>
                                                    <p style="font-family: 'Roboto', sans-serif; font-size: 13px;">[[${destino.descripcion_media}]]</p>
                                                    <br>Cancelacion Gratis
                                                    <br>Mejor precio garantizado
                                                </td>
                                                <td style="text-align: center; border-right: 1px black;">

                                                    $[[${destino.precio_noche}]] por noche<br><br>
                                                    [[${destino.descuento}]] de descuento<br><br><br><br><br><br>
                                                                            <a class="nav-link" style="background-color: rgb(224, 124, 30); color: white; padding: 15px;" th:href="@{/destinos/detallesDestino/}+${destino.idDestino}">Ver detalles</a>
                                                </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- si no hay destinos -->
                            <div class="text-center p-2" th:if="${destinos == null or destinos.empty}">
                                        <span>No hay destinos que mostrar</span>
                            </div>
                      </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        <!-- se muestra los detalles del destino -->
        <section th:fragment="detallesDestino" id="destinos">
            <div class="container-fluid" style="padding-left: 50px; padding-right: 50px; margin-top: 100px;">
                <div class="row">
                    <!-- columna izquierda, muestra detalles del destino --> 
                    <div class="col-md-9 scrollable-column">
                         <h1>[[${destino.nombre_destino}]]</h1>
                         <p><b>[[${destino.localizacion}]]</b></p>
                        <div class="scrollable-content" style="overflow-y: auto;">
                            <!-- carrousel --> 
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                               <ol class="carousel-indicators">
                                 <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                 <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                 <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                               </ol>
                               <div class="carousel-inner">
                                 <div class="carousel-item active">
                                     <img  class="d-block w-100" th:src="${destino.ruta_imagen}" alt="First slide">
                                 </div>
                                 <div class="carousel-item">
                                   <img  class="d-block w-100" th:src="${destino.ruta_imagen}" alt="Second slide">
                                 </div>
                               </div>
                               <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                 <span class="sr-only">Previous</span>
                               </a>
                               <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                 <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                 <span class="sr-only">Next</span>
                               </a>
                             </div>
                            <br/>
                            <article><h2>Descripcion</h2><p>[[${destino.descripcion_detalles}]]</p></article>
                            <br/>
                            <article><h2>Destacado de este destino</h2><p>[[${destino.destacado}]]</p></article>
                            <br/>
                            <article><h2>Incluidos:</h2><p>[[${destino.inclusion_uno}]]<br/>[[${destino.inclusion_dos}]]<br/>[[${destino.inclusion_tres}]]</p></article>

                        </div>
                    </div>
                    
                  <!-- columna derecha, se muestra las opciones para la reserva -->
                  <div class="col-md-3 fixed-column">
                    <div class="card filter-card sticky-top">
                        <div class="card-header" style="background-color: rgb(224, 124, 30);">
                          <h5 class="card-title" style="color: white; text-align: center;">Opciones para la reserva</h5>
                        </div>
                        <div class="card-body" style="border: 1px solid #ccc;">
                          <form>
                            <div class="mb-3">
                              <br>
                              Opcion 1
                              <input type="date" class="form-control" id="dateInicio">
                              <br>
                              Opcion 2 
                              <input type="date" class="form-control" id="dateFinal">
                              <br>
                              <label for="customRange3" class="form-label">Opcion 3</label>
                              <input type="range" class="form-range" min="0" max="5" step="0.5" id="precioElegido">
                            </div>
                            <button type="submit" class="btn btn-primary" style="width: 100%; background-color: rgb(224, 124, 30); border-color: rgb(224, 124, 30);">Reservar</button>
                          </form>
                        </div>
                      </div>
                  </div>
                           
                </div>
            </div>
        </section>
        
        
    </body>
</html>